<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="InWebo.ApiDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="InWebo.ApiDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <InWebo.ApiDemo.Properties.Settings>
            <setting name="ApiDemo_Provisioning_ConsoleAdminService" serializeAs="String">
                <value>https://api.myinwebo.com/services/ConsoleAdmin</value>
            </setting>
            <setting name="ApiDemo_Authentication_AuthenticationService"
                serializeAs="String">
                <value>https://api.myinwebo.com/services/Authentication</value>
            </setting>
        </InWebo.ApiDemo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <InWebo.ApiDemo.Properties.Settings>
            <setting name="offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxResults" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="querySort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="loginName" serializeAs="String">
                <value />
            </setting>
            <setting name="exactMatch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="loginId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstname" serializeAs="String">
                <value />
            </setting>
            <setting name="lastname" serializeAs="String">
                <value />
            </setting>
            <setting name="mail" serializeAs="String">
                <value />
            </setting>
            <setting name="phone" serializeAs="String">
                <value />
            </setting>
            <setting name="status" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="role" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="access" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="codeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>fr</value>
            </setting>
            <setting name="extraFields" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
        </InWebo.ApiDemo.Properties.Settings>
    </userSettings>
</configuration>
